body {
background-color: black;
color: white;
font-family: 'Montserrat', sans-serif
}



.h1 { 
font-size: 150px;
}

hr {
  border-top: 40px;
  border-color: white;
  border-width: 10px;

;}






a { 
font-size: 50px;
padding: 20px;
color: white;
text-decoration: none;
}



/*
 }
 a {
  color: black;
font font-size: 80px;}
.entry a {
  padding: 50px;}
*/
