body {background-color: black; color: white;
}
h1{font-family: 'Koulen', cursive; 
	font-weight: 400px;font-size: 50px;}
h2{font-family: 'Archivo Narrow', 
	sans-serif;line-height: 2;}
h4{font-family: 'Archivo Narrow', sans-serif;
	font-size: 40px;
}
.content{font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;}
.names{font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;}
.paragraph{font-family: 'Archivo Narrow', sans-serif;
	font-size: 2vw; font-size: 20px;}
.levels{font-family: 'Archivo Narrow', sans-serif;
font-size: 15px;}
.review{font-family: 'Archivo Narrow', sans-serif}

.fillrect {
  padding: 0 10px;
  transition: all 0.5s ease;
}

.fillrect:hover {
  background-color: gray;
  cursor: pointer;
 }

.tornado {
transition: all 0.5s ease;
}

.tornado:hover {
  -webkit-transform: rotate(-90deg) scale(-2);
  transform: rotate(-90deg) scale(-2);
  cursor: pointer;
}
