.filmstrip-container {
  display: grid;
  position: relative;
  overflow: hidden;
  background-color: tan;
}

.filmstrip {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.filmstrip img {
  width: 200px;
  height: 150px;
  margin-right: 10px;
  object-fit: cover;
}


button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
}

.filmstrip-prev {
  left: 0;
}

.filmstrip-next {
  right: 0;
}
/*/*
.filmstrip-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.filmstrip-controls button {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}

*/

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-menu-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-items-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  display: none;
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  padding: 1rem;
}

.menu-items li a {
  color: #333;
  text-decoration: none;
}



