
@font-face {
    font-family: 'druk_wide_trialmedium';
    src: url('./fonts/drukwide-medium-trial-webfont.woff2') format('woff2'),
         url('.fonts/drukwide-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'druk_text_wide_trialbold';
    src: url('./fonts/druktextwide-bold-trial-webfont.woff2') format('woff2'),
         url('./fonts/druktextwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'druk_text_trialbold';
    src: url('./fonts/druktext-bold-trial-webfont.woff2') format('woff2'),
         url('./fonts/druktext-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




body {
background: linear-gradient(90deg, #A8BFFF, #884D80, rgb(151, 150, 240), rgb(251, 199, 212), mediumpurple, #A8BFFF);
  background-size: 1000%;
  animation: background 20s linear alternate infinite;

    display: flex;
  flex-direction: column;

}

@keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}


h2 {
  font-family: 'druk_wide_trialmedium';
  font-size: 8vw;
  color: black;
  z-index: 220;
  position: fixed;
  top: 70vw;
  left: 25%;
  text-align: center;
}

.folder-group {
  position: absolute;
  width: 70%;
  height: 100%;
}

.folder1,
.folder2 {
  position: fixed;
  z-index: 200;
  display: block;
  top: 30vw;
  left: 0;
  width: 75%;
  height: auto;
  object-fit: cover;
  box-shadow: 10px 9px 13px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.folder2 {
  top: 15vw;
  z-index: 0;
}
.folder1 {
  z-index: 200;
  top: 50vw;
  left: 0;

}

.airtable-item-group {
  position: relative;
  width: 100%;
  margin-top: 6%;
}

.airtable-image {
  position: absolute;
  z-index: 1;
  display: block;
  max-height:1000px;
  max-width: 800px;
  width: 60%;
  height: auto;

   /* max-width:100%;
    max-height:700px;
    width: 700px;
    height: auto;*/
  object-fit: cover;
}

.airtable-image:nth-of-type(2) {
  z-index: 2;
}

.airtable-item {
  margin-bottom: 3vw;
  margin-left: 7vw;
}

.filter-show {
  background-color: gray;
  display: block;
}

.filter-hide {
  display: none;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.airtable-item {
  cursor: pointer;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 12vw;
      top: 120vw;

  }

  .folder1,
  .folder2 {
    width: 100%;
  }


  .airtable-image {
    width: 100%;
  }

  .airtable-item {
      margin-bottom: 5vw;

    margin-left: 2vw;
  }


.buttons {
  display: flex;
  margin: 2em;
  z-index: 500;
  position: fixed;
  justify-content: center;
  align-items: center;
  
}
.button-group {
  font-family: 'druk_text_trialbold';
  margin: 10px;
  margin-right: 1em;
  position: relative;
}
.toggle-menu-btn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  font-family: 'druk_text_wide_trialbold';
  font-size: 1em;
  padding: 1em;
}


}

/*  .buttons {
    width: 100vw;
    height: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: none;
/*  width: 100%;
  height: 50px;*/

/*  }
  .button-group {
    right: 0;
  transform: translateX(-50%);
  margin: none;
    justify-content: center;
    align-items: center;

 /* position: relative;
  top: 0;
  width: 100%;
  height: 50px;*/
  


@media screen and (max-width: 450px){

h2 {
    top: 190vw;
  left: 30%;
  text-align: none;
  justify-content: center;

}
.folder1,
.folder2 {
  position: fixed;
  z-index: 200;
  display: block;
  left: 0;
  }

.folder2 {
  top: 50vw;
  z-index: 0;
}
.folder1 {
  z-index: 200;
  top: 160vw;
  left: 0;

}

.airtable-item-group {
  position: relative;
  width: 100%;
  margin-top: 50%;
}

.airtable-image {
  width: 100%;
}

.airtable-item {
  margin-bottom: 5vw;

}
}


.pop-up {
 display: none; 
  position: fixed; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
  z-index: 600;

}
.pop-up-content{
   font-family: 'druk_text_trialbold';
      font-size: 20px;  
      color: white;
    margin: auto;
  display: block;
  width: 70%;
  max-width: 650px;
  justify-content: center;
  align-items: center;
  z-index: 601;
}

.pop-up-title {
    font-size: 45px;  
    padding-bottom: 5px;

}
.pop-up-artist {
    font-size: 25px;
    padding-bottom: 30px;
}
.pop-up-image{
    width: 80%;
}
.pop-up-label {
    padding-top: 30px;

}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/*.button-label {
  display: none;
}
*/



/*.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.toggle-menu-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.button-wrapper {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-label {
  margin: 0 1rem;
  border: 1px solid black;
}
*/


.buttons {
  display: flex;
  margin: 2em;
  z-index: 500;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
    right: 0;


}

.button-group {
  font-family: 'druk_text_trialbold';
  margin: 10px;
  margin-right: 1em;
  position: relative;
}

.toggle-menu-btn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  font-family: 'druk_text_wide_trialbold';
  font-size: 1em;
  padding: 1em;
}

.button-wrapper {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 500;
}

.button-wrapper .btn-label,
.btn-genre,
.btn-mood,
.btn-all {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
.button-group:hover .button-wrapper {display: block;}

.btn-all:hover,
.btn-label:hover,
.btn-genre:hover,
.btn-mood:hover {
  background-color: #ddd;
}







/*

.toggle-menu-btn {
  background-color: #04AA6D;
  display: flex;
  color: white;
  padding: 1em;
  font-size: 1em;
  border: none;
  font-family: 'druk_text_wide_trialbold';
  background-color: black; 
  border-radius: 50%; 
}
.buttons{
    margin: 2em;

    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 100%;

      flex-wrap: wrap;


}
.button-group {
    font-family: 'druk_text_trialbold';
  position: relative;
  display: inline-block;
  z-index: 500;
  margin: 10px;
    margin-right: 1em;
        flex-basis: 30%;


}

.button-wrapper {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.button-wrapper .btn-label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn-genre {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.btn-mood{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;  
}
.btn-all {
   color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}
.btn-all:hover {background-color: #ddd;}

.button-wrapper .btn-label:hover {background-color: #ddd;}
    .btn-genre:hover {background-color: #ddd;}
    .btn-mood:hover {background-color: #ddd;}

.button-group:hover .button-wrapper {display: block;}

.button-group:hover .toggle-menu-btn {background-color: #3e8e41;}


*/


