


@media screen and (max-width: 600px) {
  body {
	background: linear-gradient(-45deg, #DEB887, #FFE4E1,#FFF8DC, #E9967A, #FFE4E1, #FFFAF0);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
  } 
  .container {
    visibility: hidden; 
    max-width: 100%;
  margin: 20px;
  }

  .container  img{
	background-color: yellow;
  max-width: 100%;
  height: auto;
}
  .full {
    visibility: visible;
    position: absolute;
    width: 400px;
    align-content: center;
    top: 60%;
    margin: 15%;

  }
  .text {
  	width: 450px;
    align-content: center;
    top: 50%;
    margin: 5%;
  	/*margin-left: auto;
margin-right: auto;
left: 0;
right: 0;*/
  }
  h1 {
 	font-family: 'Special Elite', cursive;
  	visibility: visible;
    position: absolute;        
    top: 5%;
	width: 100%; 	
	text-align: center;

  }

  ol {
  	 	font-family: 'Special Elite', cursive;
  	 	visibility: visible;
  	 	position: absolute;
  	 	top: 15%;
		width: 60%; 
		margin: 15%;
		line-height: 1.4;
		font-size: 23px;

	}
  .list {
  	display: flex;
  	text-align: center;
  	  	
  }

}

@media screen and (min-width: 601px) {
  body {
	background-color: tan;
}

.container {
  max-width: 100%;
  margin: 20px;
}

.container  img{
  max-width: 100%;
  height: auto;
}
.kettle {
	display: flex;
	margin-right: 300%;

}
.empty{
	display: flex;
	width: 450px;
	position: absolute;
	right: 0;
	top: 70%;



}

p {
	visibility: hidden;
}

.full {
    visibility: hidden;
width: 100px;
}

.pop{
	visibility: hidden;
}
}


@media screen and (min-width: 1500px) {
	p {
	display: flex;
	width: 700px;
	font-size: 70px;
	z-index: 10;
	position: absolute;
	top: 20%;
	left: 40%;
	justify-items: center;
	font-family: 'Special Elite', cursive;
	visibility: visible;
}
.pop{
	visibility: hidden;
}
}





