body
{background-color: white;
color:  white;
font-family: 'Archivo Narrow', sans-serif;
}


@media (max-width: 650px) {
  body {
    background-color: white;
    color:  white;
  }
  .box {
    flex-direction: column;
        flex-wrap: wrap;
      }
    .symbols {
      color: orange;
    }
}

@media (min-width: 768px) {
  body {
    
    background-color: white;
    color: white;
  }
  .box {
    flex-direction: column;
        flex-wrap: wrap;

  }
  .symbols {
    color: orange;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
body {
  background-color: white;
  color: white;
}
.box .review1 .review2 {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 30px;
  }
  .symbols {
 display: flex; 
flex-direction: row;
margin:10px ; 
padding: 10px;
column-gap: 40px;
color: orange;

}
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body { 
    background-color: white ;
    color:  white;  
  }
.box .review1 .review2 {
    flex-direction: column;
    flex-wrap: nowrap;
    display: inline-block;
    max-width: 30px;
  }
  .content {
display: flex; 
flex-direction: row;
margin:10px ; 
padding: 10px;
column-gap: 10px;}

.symbols {
 display: flex; 
flex-direction: row;
margin:10px ; 
padding: 10px;
column-gap: 40px;
color: orange;

}
}

h1 {font-family: 'East Sea Dokdo', cursive;
font-size: 100px;
margin: 0px;
text-align: center;}
.heading{
  position: sticky;
  top: 0;
  background-color: orange;
}

.Summary 
{box-sizing:  border-box;}
.content:after {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  /*width: 300px;*/
  font-family: 'Archivo Narrow', sans-serif;
  flex-direction: row;
}

.column1 {
 font-size: 20px;
  flex: 50%;
   background-color: orange;
  color: white;
  padding: 10px;

}
{box-sizing:  border-box;}

.column2 {
  font-size: 20px;
  flex: 50%;
   background-color: orange;
  color: white;
  padding: 10px;

}


h6{
font-family: 'East Sea Dokdo', cursive;
font-size: 50px;
padding: 0px;
margin: 0px;}

.woman {
  display: flex;
  position: static;
  width: 500px;
  height: 500px;
  animation:infinite ease-in ease-out;
  animation-name: womanfade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
   transition:  all 100ms;
}
/*
.woman:hover {
  width: 500px;
  height: 500px;
}*/

@keyframes womanfade {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.woman:hover {
  animation-play-state: paused;
cursor: pointer;
}

.popup {
  display: flex;
  width: 500px;
  height: 500px;
  position: relative;
  visibility: hidden;
 
}
/*
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
*/





.Characters {
  display: flex;
  justify-content: center;
  padding:0px;
  background-color: orange;
  min-height: 120px;
  font-family: 'Archivo Narrow', sans-serif;
  color:  white;
  font-size:  60px;
  text-align:  left;

}
{box-sizing:  border-box;}

.names {
  margin: 10px 10px;
  width: 300px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}
h4 {
font-family: 'East Sea Dokdo', cursive;
  font-size: 60px;
  padding: none;
  margin: 0px;
  justify-content: flex-start;
  color: peachpuff;
}

h3 {
  margin: 0px;
}

.paragraph {font-family: 'Archivo Narrow', sans-serif;
  font-size: 1vw; font-size: 20px;}
.levels{font-family: 'Archivo Narrow', sans-serif;
font-size: 20px;
padding: 10px 10px;
justify-content: space-evenly;}


.box {
  min-width: 500px;
  max-width: 5000 px;
float: left;
  display: block;
  color: orange;
  text-align: center;
  padding: 0px ;
  text-decoration: none;
}

.review1 {
display:  flex;
background-color: orange;
color: white;
text-decoration: none;
text-align: initial;
padding: 6px 10px;
font-family: 'Archivo Narrow', sans-serif;
font-size: 1vw; font-size: 20px;
justify-content: safe flex-start;
margin: 20px 20px;
flex-wrap: wrap;
}


.spoiler {
padding: none;
}

.Guide {
  display: flex;
  justify-content:  space-evenly;
  padding:20px;
  background-color: orange;
  min-height: 120px;
  font-family: 'Archivo Narrow', sans-serif;
  color:  white;
  font-size:  20px;
  text-align:  left;
}

.paragraph {
  position: relative;
  display: inline-block;
margin: 50px 30px;
color: orange;}
  

.dropdown {
  display: none;

flex-direction: row;
background-color: orange;
color: white;
text-decoration: none;
text-align: initial;
padding: 6px 10px;
font-family: 'Archivo Narrow', sans-serif;
font-size: 1vw; font-size: 20px;
justify-content: safe flex-start;
margin: 20px 20px;
flex-wrap: wrap;
border: 1px solid lightgray;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
  
}
  .paragraph:hover .dropdown {
  display: inline-block;

}


.button {
  padding: 20px 50px;
  border-radius: 30px;
  background-color:  white;
  color:  black;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
  font-family: monospace;
}

.button:hover {
  background-color: #DEB887;
  cursor:  pointer;
  font-family: sans-serif;
}

.buttonOn {
  background-color:  black;
  color:  white;
  font-family: cursive;
}

.light {
  background-color: papayawhip;
}














