body
{background-color: #C4A484;
color:  white;
font-family: 'Archivo Narrow', sans-serif;
}


@media (max-width: 767px) {
  body {
    background-color: #C4A484; 
    color:  white;
  }
  .box {
    flex-direction: column;
        flex-wrap: wrap;
      }
    .symbols {
       display: flex; 
margin:10px ; 
padding: 10px;
column-gap: 20px;
      color: white;
      flex-direction: column;
        flex-wrap: wrap;
    }

    .bear {
      position: relative;
      right: 100px;
    }


  .heading {
    flex-direction: column;
    flex-wrap: wrap;
    position: none;

      }
  .subimage {
    position: sticky;
  }
  .subheadings {
    margin: none;
}

  .image {
    align-items: center;
  }
.Characters {
   flex-direction: column;
        flex-wrap: wrap;
}
.name {
  display: flex;
  flex-direction: row;

}
   
}

@media (min-width: 768px) {
  body {
    
    background-color: #C4A484;
    color: white;
  }
  .box {
    flex-direction: column;
        flex-wrap: wrap;

  }
  .symbols {
     display: flex; 
margin:10px ; 
padding: 10px;
column-gap: 40px;
    color: white;
    
  }
  .heading {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .subimage {
    position: sticky;
  }
  .subheadings {
    margin: 10px;
}
}

/* Desktop breakpoint */
@media (min-width: 992px) {
body {
  background-color: #C4A484;
  color: white;
}
.heading {
  
    flex-direction: row;
    flex-wrap: wrap;
  }

.subheadings {
    margin: 30px;
}

.box .review1 .review2 {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 30px;
  }
  .symbols {
 display: flex; 
margin:10px ; 
padding: 10px;
column-gap: 40px;
color: white;

}
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body { 
    background-color: #C4A484 ;
    color:  white;  
  }

.heading {
  flex-direction: row;
    flex-wrap: wrap;
    z-index: -1;
}

.subheadings {
    margin: 50px;
}

.box .review1 .review2 {
    flex-direction: column;
    flex-wrap: nowrap;
    display: inline-block;
    max-width: 30px;
  }
  .content {
display: flex; 
flex-direction: row;
margin:10px ; 
padding: 10px;
column-gap: 10px;}

.symbols {
 display: flex; 
margin:10px ; 
padding: 10px;
column-gap: 40px;
color: white;

}



}

h1 {font-family: 'Cinzel', serif;
font-size: 90px;
padding: 0px;
margin: 0px;
text-align: center;
flex: 50%;
}
.heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    margin: none;
    
}
.subimage {
       display: flex;
       justify-content:space-between ;
       align-items: center;
   background-color: #5C4033;
   padding: 1rem;
   flex: 50%;

}

.subheadings {
  padding: 20px;
  flex: 50%;
  
}
.image {
background-color: none;
padding: 20px;
max-width: 200px;
min-width: 100px;
   float: right;  
   flex: 50%;  
   text-align: center;

}

.grizzly {
  cursor: pointer;
  overflow: hidden;

}

.grizzly img {
 width: 100%;
  height: 100%;
  margin: 10px; 
  justify-content: center;
  object-fit: cover;
  transition: 0.3s ease-in-out;


}

.grizzly img:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 

}



.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 650px;
  justify-content: center;
  align-items: center;

}


@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.Summary 
{box-sizing:  border-box;}
.content:after {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Archivo Narrow', sans-serif;
  flex-direction: row;
}

.column1 {
 font-size: 20px;
  flex: 50%;
   background-color: #6F4E37;
  color: white;
  padding: 10px;

}
{box-sizing:  border-box;}

.column2 {
  font-size: 20px;
  flex: 50%;
   background-color: #6F4E37;
  color: white;
  padding: 10px;

}


h6{
font-family: 'Cinzel', serif;
font-size: 50px;
padding: 0px;
margin: 0px;}


.symbols {
  margin: auto;
}
.bear {
  scale: 0.7;
  position: none;

 align-items: center;
 justify-content: center;
}

.bear:hover {
  scale: 1.2;
  


}

.name {
  display: flex;
  justify-content: space-evenly;
  padding:0px;
  min-height: 120px;
  color:  white;
}
.Characters {
  background-color: #6F4E37;
}  

{box-sizing:  border-box;}

.nametitle {
  padding: 20px;
}

.names {
  margin: 10px 10px;
  width: 300px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}
h4 {
font-family: 'Cinzel', serif;
  font-size: 60px;
  padding: none;
  margin: 0px;
  justify-content: flex-start;
  color: #EADDCA;
}

h3 {
  margin: 0px;
}

.paragraph {font-family: 'Archivo Narrow', sans-serif;
  font-size: 1vw; font-size: 20px;}
.levels{font-family: 'Archivo Narrow', sans-serif;
font-size: 20px;
padding: 10px 10px;
justify-content: space-evenly;}


.box {
  min-width: 500px;
  max-width: 5000 px;
float: left;
  display: block;
  color: #6F4E37;
  text-align: center;
  padding: 0px ;
  text-decoration: none;
}

.review1 {
display:  flex;
background-color: #6F4E37;
color: white;
text-decoration: none;
text-align: initial;
padding: 6px 10px;
font-family: 'Archivo Narrow', sans-serif;
font-size: 1vw; font-size: 20px;
justify-content: safe flex-start;
margin: 20px 20px;
flex-wrap: wrap;
}


.spoiler {
padding: none;
}

.Guide {
  display: flex;
  padding:20px;
  background-color: #6F4E37;
  min-height: 120px;
  font-family: 'Archivo Narrow', sans-serif;
  color:  white;
  font-size:  20px;
  text-align:  left;
}
.levels {
  float: right;
  padding: auto;
  margin:auto;
}
.paragraph {
  position: relative;
  display: inline-block;
margin: 50px 30px;
color: white;}
  

.dropdown {
  display: none;

flex-direction: row;
background-color: #6F4E37;
color: white;
text-decoration: none;
text-align: initial;
padding: 6px 10px;
font-family: 'Archivo Narrow', sans-serif;
font-size: 1vw; font-size: 20px;
justify-content: safe flex-start;
margin: 20px 20px;
flex-wrap: wrap;
border: 1px solid lightgray;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
  
}
  .paragraph:hover .dropdown {
  display: inline-block;

}












