/* Just to make the demo easier to work with. */
/* font-family: "termina", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "termina", sans-serif;
font-weight: 700;
font-style: normal; */

/* :root {
	--spacing: 1em;
} */


body {
	background: linear-gradient(-45deg,rgb(245, 224, 108), rgb(227, 169, 176), #a1c4fd,#8ec5fc,#c1dfc4);
	background-size: 3000% 3000%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: "termina", sans-serif;
	background-color:  #0c250c;
    color:#eaeaea ;
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  

h1 
{
	font-weight:black;
	text-align:center;
	font-size: 4em;
}

h2 {
	font-weight:black;
	text-align:center;
	font-size: 2em;
}

#collection {
	display: flex;
  flex-wrap: wrap;
 justify-content: center;
  align-items: center;
  padding: 10px;

  
}


.container {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	align-items: center;
margin: 10px;
	position: relative;
	display: inline-block;

}
/* .container:hover {
		transform: rotateY(180deg);
	  
} */

.cover{

  width: 350px; /* Change this to your desired image width */
  height: auto;
  margin: 20px;
  z-index: 2;
  position: relative;
}

.cover img {
	max-width: 100%;
	height: auto;
}

.popup {
	position: fixed;
	width: 90%;
	height: 90%;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 239, 239);
	color:black;
	padding: 20px;
	z-index: 5;
	display: none;

	align-items: center;
}
.popupDiv {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}
.popup img {
	width: 30em;
	height: auto;
	margin: 0;
	padding: 20;

	justify-content: center;
	align-items: center;

	/* max-width: 50%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px; */
}
.content {
	width: 50%;
	margin: 0;
    padding: 5px;
font-size: 1em;

}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: rgb(92, 92, 92);
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: rgb(92, 92, 92);
	text-decoration: none;
	cursor: pointer;
  }
  




