@font-face {
    font-family: 'rock_3dregular';
    src: url('./fonts/rock3d-webfont.woff2') format('woff2'),
         url('./fonts/rock3d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}







body {
  background-color: pink;
  font-family: 'Lexend', sans-serif;
}

.ticket .text{
        position: absolute;
        z-index: 2;
        text-align: center;
        top: 15%; 
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        width: 70%; 
        height:40%;
        word-wrap: break-word;
    left: 10%;
    }



.ticket {

  display: flex;
  position: relative;
  text-align: center;
}
/*
.admit img{
  object-fit: 50% 50%;
  display: block;
  width:100%;
} */
/*
.admit {
  width: 100%;
  background-image: src="./images/ticket.png";
  background-size: contain;
  background-position: center;
}
*/
.beg {
  background-color: orange;
  text-align: left;
  position: relative;
  font-size: 2.4rem;
}

.mid {
    font-family: 'rock_3dregular';
    font-size: 5rem;
    color: red;
    padding: 40px;
    background-color: yellow;

}

.end {
font-size: 2.4rem;
background-color: coral;
padding: 20px;
}
/*
.text {
  display: flex;
  position: relative;
  width: auto;
  height: 66%;
  word-wrap: break-word;
  background-color: yellow;
 

}
.beg {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate( -50%, -50% );
    font-size: 50px;
      word-wrap: break-word;
  

    /*top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 50px;
z-index: 2;
width: 100%;
display: flex;
margin: auto;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;*/

}
/*
.mid {
   position: absolute;
    top: 30%;
    right: 45%;
    transform: translate( -50%, -50% );
}*/







