body
{background-color: darkred;
color:  white;
font-family: 'Archivo Narrow', sans-serif;
}


@media (max-width: 767px) {
  body {
    background-color: darkred;
    color:  white;
  }
  .box {
    flex-direction: column;
        flex-wrap: wrap;
      }
    .fairy {
      color: white;
    }
     .symbols {
       display: flex; 
margin:10px ; 
padding: 10px;
column-gap: 20px;
      color: white;
      flex-direction: column;
        flex-wrap: wrap;
    }
    .heading {
    flex-direction: column;
    flex-wrap: wrap;
    position: none;

      }
  .subimage {
    position: sticky;
  }
  .subheadings {
    margin: none;
}

  .image {
    align-items: center;
  }
.Characters {
   flex-direction: column;
        flex-wrap: wrap;
}
.name {
  display: flex;
  flex-direction: row;

}
}

@media (min-width: 768px) {
  body {
    
    background-color: darkred;
    color: white;
  }
  .box {
    flex-direction: column;
        flex-wrap: wrap;

  }
  .fairy {
    color: limegreen;
  }
  .symbols {
     display: flex; 
margin:10px ; 
padding: 10px;
column-gap: 40px;
    color: white;
    
  }
  .heading {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .subimage {
    position: sticky;
  }
  .subheadings {
    margin: 10px;
}
}

/* Desktop breakpoint */
@media (min-width: 992px) {
body {
  background-color: darkred;
  color: white;
}
.box .review1 .review2 {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 30px;
  }
  .symbols {
 display: flex; 
flex-direction: row;
margin:10px ; 
padding: 10px;
column-gap: 40px;

}
.heading {
  
    flex-direction: row;
    flex-wrap: wrap;
  }

.subheadings {
    margin: 30px;
}
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body { 
    background-color: darkred ;
    color:  white;  
  }
.box .review1 .review2 {
    flex-direction: column;
    flex-wrap: nowrap;
    display: inline-block;
    max-width: 30px;
  }
  .content {
display: flex; 
flex-direction: row;
margin:10px ; 
padding: 10px;
column-gap: 10px;}

.symbols {
 display: flex; 
flex-direction: row;
margin:10px ; 
padding: 10px;
column-gap: 40px;

}
.heading {
  flex-direction: row;
    flex-wrap: wrap;
    z-index: -1;
}

.subheadings {
    margin: 50px;
}
}

h1 {font-family: 'Permanent Marker';
font-size: 60px;
text-align: center;
padding: 0px;
margin: 0px;
flex: 50%;

}

.heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    margin: none;
    padding: none;
}
.subimage {
       display: flex;
       justify-content:space-between ;
       align-items: center;
   background-color: indianred;
   padding: 1rem;
   flex: 50%;

}

.subheadings {
  padding: 20px;
  flex: 50%;
  
}
.image {
background-color: none;
padding: 20px;
max-width: 200px;
min-width: 100px;
   float: right;  
   flex: 50%;  
   text-align: center;

}

.spiderman {
  cursor: pointer;
  overflow: hidden;

}

.spiderman img {
 width: 100%;
  height: 100%;
  margin: 10px; 
  justify-content: center;
  object-fit: cover;
  transition: 0.3s ease-in-out;


}

.spiderman img:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 

}



.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 650px;
  justify-content: center;
  align-items: center;

}


@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}





.Summary 
{box-sizing:  border-box;}
.content:after {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Archivo Narrow', sans-serif;
  flex-direction: row;
}

.column1 {
 font-size: 20px;
  flex: 50%;
   background-color: indianred;
  color: black;
  padding: 10px;

}
{box-sizing:  border-box;}

.column2 {
  font-size: 20px;
  flex: 50%;
   background-color: indianred;
  color: black;
  padding: 10px;

}


h6{
  font-family: 'Permanent Marker';
  font-size: 30px;
padding: 1px;
margin: 1px;
color: white;

}

.symbols {
  margin: auto;
}
.fairy {
  display: block;
  background-color: none;
  transition: width 2s, height 2s, transform 2s;

    font-family: 'Archivo Narrow', sans-serif;


}

.fairy:hover {
  width: 500px;
  height: 500px;
  transform: translate(3000px);
  transition-timing-function: ease-in-out;
    font-family: 'Archivo Narrow', sans-serif;

}

.spider {
  display: block;
  background-color: none;
  transition: transform 2s;
  color: white;
}
.spider:hover {
  width: 500px;
  height: 500px;
  transform: translateY(-500px); 
    transition-timing-function: ease-in-out;

 
}



.name {
  display: flex;
  justify-content:  space-evenly;
  padding:0px;
  min-height: 120px;
  color: white;

}
{box-sizing:  border-box;}

.Characters {
    background-color: indianred;
    padding: none;

}

.nametitle {
  padding: 20px;
}
.names {
  margin: 10px 10px;
  width: 300px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}
h4 {
  font-family: 'Permanent Marker';
  font-size: 60px;
  padding: none;
  margin: 15px;
  justify-content: flex-start;
  color: white;
}

h3 {
  margin: 7px;
  color: white;
}

.paragraph {font-family: 'Archivo Narrow', sans-serif;
  font-size: 1vw; font-size: 20px;}
.levels{font-family: 'Archivo Narrow', sans-serif;
font-size: 20px;
padding: 10px 10px;
justify-content: space-evenly;}


.box {
  min-width: 500px;
  max-width: 5000 px;
float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.review1 {
display:  flex;
background-color: indianred;
color: white;
text-decoration: none;
text-align: initial;
padding: 6px 10px;
font-family: 'Archivo Narrow', sans-serif;
font-size: 1vw; font-size: 20px;
justify-content: safe flex-start;
margin: 20px 20px;
flex-wrap: wrap;
}


.spoiler {
padding: none;

}

.Guide {
  display: flex;
  justify-content:  space-evenly;
  padding:20px;
  background-color: indianred;
  min-height: 120px;
  font-family: 'Archivo Narrow', sans-serif;
  color:  white;
  font-size:  20px;
  text-align:  left;
}

.levels {
  float: right;
  padding: auto;
  margin: auto;
}

.paragraph {
  position: relative;
  display: inline-block;
margin: 50px 30px;
  

}

.dropdown {
  display: none;

flex-direction: row;
background-color: indianred;
color: white;
text-decoration: none;
text-align: initial;
padding: 6px 10px;
font-family: 'Archivo Narrow', sans-serif;
font-size: 1vw; font-size: 20px;
justify-content: safe flex-start;
margin: 20px 20px;
flex-wrap: wrap;
border: 1px solid lightgray;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
  


}

  .paragraph:hover .dropdown {
  display: inline-block;

}
